
<h1>Contacts</h1>

<% @@rolodex.contacts.each do |contact| %>
  <li><a href="/contacts/<%= contact.id%>"><p>
  <%= contact.first_name%> <%= contact.last_name%></p></a></li>
  
  <br><br>

<% end %>

<button><a href="/">Back to Main Menu</a></button>