<h1>Welcome to <%= @crm_app_name %>!</h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add a new contact</a></li>
  <li><a href="/contacts/new">Modify a contact</a></li>
  <li><a href="/contacts/new">Find a contact</a></li>
  <li><a href="/contacts/new">Find an attribute</a></li>
  <li><a href="/contacts/new">Delete a contact</a></li>
</ul>



