<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to <%= @crm_app_name %>!</h1>
    <h2>Main menu</h2>
    <ul class='no-bullets'>
      <li><h3><a href="/contacts">View all contacts</a></h3></li>
      <li><h3><a href="/contacts/new">Add a new contact</a></h3></li>
      <li><h3><a href="/contacts/find">Find a contact</a></h3></li>
    </ul>
  </div>
</div>



