<h1>Create new Contact</h1>

<form action="/contacts" method="post"> <!-- action is destination -->
  <h2>First Name:</h2>
  <input type="text" name="first_name">
  <h2>Last Name:</h2>
  <input type="text" name="last_name">
  <h2>Email:</h2>
  <input type="text" name="email">
  <h2>Notes:</h2>
  <input type="text" name="notes">
  <input type="submit" name="Submit">
</form>